.ChatIcon {
  position: fixed;
  bottom: 2rem;
  left: 2rem;
  background-color: #f21b91;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 4rem;
  height: 4rem;
  border-radius: 20%;
  cursor: pointer;
  span {
    color: white;
    font-size: 2.2rem;
    transform: translateY(3px);
  }
}

.chat-container {
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
  overflow: hidden;
  height: 50vh;
  border-radius: 0.5rem;
  width: 300px;
  position: fixed;
  bottom: 6.5rem;
  left: 2rem;
  background-color: #fafafa;
  .chat-header {
    background-color: #f21b91;
    color: white;
    padding: 0.8rem;
    border-radius: 0.5rem 0.5rem 0 0;
    font-weight: 600;
    font-size: 1.1rem;
    display: flex;
    justify-content: space-between;
    align-items: center;

    .back-btn {
      background-color: transparent;
      border: 0;
      outline: 0;
      width: 40px;
      display: flex;
      justify-content: center;
      align-items: center;
      border-radius: 5px;
      height: 40px;
      color: white;
      font-size: 1.2rem;
      cursor: pointer;
      transition: 0.25s ease-in-out all;
      &:hover {
        background-color: #fff5;
      }
    }
    .dots {
      background-color: transparent;
      border: 0;
      outline: 0;
      width: 40px;
      display: flex;
      justify-content: center;
      align-items: center;
      border-radius: 5px;
      height: 40px;
      color: white;
      font-size: 1.2rem;
      cursor: pointer;
      transition: 0.25s ease-in-out all;
      &:hover {
        background-color: #fff5;
      }
    }
  }
  .chat-keyboard {
    position: absolute;
    bottom: 0;
    width: 100%;
    box-sizing: border-box;
    background-color: #fff;
    border-radius: 0 0 0.5rem 0.5rem;

    input {
      width: 100%;
      height: 100%;
      padding: 1rem 0.5rem;
      border: 0;
      outline: 0;
    }
  }
}
