.hero-header {
  overflow: hidden;
  margin-top: 70.39px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  font-family: "Roboto", sans-serif;
  padding: 3rem 7.7rem;
  padding-bottom: 3rem;
  position: relative;
  color: var(--clr-white);
  background-image: url("@assets/images/hero-header-bg.e6e9b75.jpg.jpeg") !important;
  background-color: linear-gradient(
    90deg,
    rgb(2, 0, 36) 0%,
    rgb(9, 9, 121) 35%,
    rgb(0, 212, 255) 100%
  );
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;

  .left-side {
    width: 50%;
  }
  .hero-title {
    display: block;
    font-size: 4rem;
    margin-block-start: 0.67em;
    margin-block-end: 0.67em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    font-weight: bold;
  }

  .hero-title .keyword {
    display: inline-block;
    margin: 0;
    background: linear-gradient(90deg, #fe5ddf 0%, #6fdfe0 100%);
    background-clip: text;
    width: fit-content;
    -webkit-background-clip: text;
    color: rgba(0, 0, 0, 0);
  }

  .hero-subtitle {
    font-size: 1.5rem;
  }
  .hero-buttons-container {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;

    a {
        color: #fff;
        transition: .25s ease-in-out all;
    }
    a:hover{
        color: var(--clr-green);
    }
  }

  .hero-sign-in {
    cursor: pointer;
    background: var(--clr-green);
    color: #fff;
    width: clamp(10rem, 15rem, 15rem);
    font-size: 1.2rem;
    height: 100%;
    padding: 0.7em;
    border-radius: 50rem;
    text-transform: capitalize;
    margin-top: auto;
    margin-bottom: auto;
    border: 0;
    align-self: center;
  }

  .right-side {
    width: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}
