.how-it-works {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  margin: 6rem 0;
  position: relative;

  h3 {
    display: block;
    font-size: 0.9em;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    font-weight: bold;
    unicode-bidi: isolate;
    color: var(--clr-gray);
  }
}

.how-it-works::after {
  content: "";
  position: absolute;
  top: 0%;
  left: 30%;
  width: 90%;
  background-size: contain;
  z-index: -1;
  height: 100%;
  background-repeat: no-repeat;
  background-image: url("@assets/images/thematic-pc-bg.9e5e079.png");

}

.how-it-works-content {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    padding: 0 0 1.5rem 0;
    h1{
        font-size: 1.5rem;
    }
  }
