.logged-out-header {
  width: 100%;
  display: flex;
  height: 4.4rem;
  background-color: #000;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 2000;
  align-items: center;
  padding: 0 36px;
  justify-content: space-between;

  .left .desktop-logo {
    width: 150px;
  }

  .right-buttons {
    padding-right: 66px;
    display: flex;
    align-items: center;
    gap: .4rem;
    .search-wrapper {
      display: flex;
      align-items: center;
      height: 38px;
      width: fit-content;
      background-color: #fff;
      border-radius: 50rem;
      overflow: hidden;
      gap: 5px;

      .search-input {
        height: 100%;
        border: 0;
        outline: 0;
        padding: 0 0.5rem;
        font-size: 1rem;
        &::placeholder{
            font-style: italic;
        }
      }
      .select-search{
        border: 0;
        outline: 0;
        cursor: pointer;
        font-size: 1;
      }
      .search-button {
        background-color: var(--clr-green);
        height: 100%;
        border: 0;
        outline: 0;
        border-radius: 0;
        padding: 0;
        width: 3rem;
        display: flex;
        align-items: center;
        justify-content: center;
        svg{
            width: 1.5rem;
            margin: 0 .25rem;
        }
      }
    }
  }
}
